.shelf{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5em;
    row-gap: 2em;
    /*background-color: black;*/
    column-rule: solid blue;
    
}


.book{
    /*padding: 2em 1em;*/
    font-size: 16px;
    width: 197px;
    height: 272px;
    background-color: grey;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

button{display: flex;
align-items: center;
justify-content: center;
column-gap: 0.5em;}