.container{
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title cover"
    "fonts fontPrev";
}

#bookInput{
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 60px;
}
#coverPreview{grid-area: cover;}
#fontsInput{grid-area: fonts;}
#fontsPreview{grid-area: fontPrev;}

input[type="text"], select{
    width: 16em;
    max-width: 100%;
}

#titlePrev{
    font-size: 2em;
}

#headerPrev{
    font-size: 1.5em;
}

.previewBkgd{
    width: 100%;
    background-color: white;
    border: 1px solid #4A4A4A;
    border-radius: 8px;
    max-width: 600px;
}

#coverPreview .previewBkgd{
    display: flex;
    align-content: center;
    justify-content: center;
}

#bookPrev{
    font-size: 16px;
    width: 184px;
    height: 272px;
    background-color: #D9D9D9;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 6px 6px 4px rgb(0 0 0 / 25%);
    margin: 56px 0;
    position: relative;
}

.inputButton{
    display: flex;
    width: 100%;
    justify-content: end;
}

#fontsPreview p{
    margin-left: 50px;
}

#bodyPrev{
    margin-bottom: 56px;
}

button{
    margin-top: 32px;
}

label[for="include_author"]{
    display: inline;
}


@media screen 
and (max-width: 889px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "cover"
        "fonts"
        "fontPrev";
    }

    .inputButton{
    max-width: 600px;
    }
}