.container{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "topLeft topRight"
    "bottomLeft bottomRight";
}

.tlItem{grid-area: topLeft;}
.trItem{grid-area: topRight;}
.blItem{grid-area: bottomLeft;}
.brItem{grid-area: bottomRight;}

button{
    margin-top: 32px;
}

@media screen 
and (max-width: 640px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "topLeft"
        "topRight"
        "bottomLeft"
        "bottomRight";
    }
}