.container{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-areas: 
    "topLeft topRight"
    "bottomLeft bottomRight";
}

.tlItem{grid-area: topLeft;}
.trItem{grid-area: topRight;}
.blItem{grid-area: bottomLeft;}
.brItem{grid-area: bottomRight;}

button{
    margin-top: 32px;
}

.longInput{
    width: 99%;
    max-width: 100%;
}

.ingredientInputs{
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

input{
    width: 98%;
    max-width: 100%;
}

select{
    width: 99%;
    max-width: 100%;
}

.ingredientInputs label{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
}

.ingredientInputs .shortInput{
    width:6em;
}

.ingredientInputs .medInput{
    width:12em;
}

#image{
    margin-bottom: 48px;
}


@media screen 
and (max-width: 828px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "topLeft"
        "topRight"
        "bottomLeft"
        "bottomRight";
    }
    input, select{
    width: 16em;
    max-width: 100%;
    }
}

@media screen 
and (max-width: 912px){
    #ingredientInputs{
        justify-content: start;
        gap: 16px;
}
}