.skip-link{
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute; /**don't use anymore expect for this and hamburger nav, not responsive**/
    left: 80px;
    transform: translateY(-300%);/*out of view*/
    transition: transform 0.3s;
}

.skip-link:focus{
    transform: translateY(-100%);
}

nav{
    background-color: #FAFAF8;
    position: fixed;
    top:0;
    left: -180%;
    height: 100%;
    width: 22em;
    max-width: 100%;
    transition: all 0.3s;
    border-right: 1px solid #272727;
    z-index: 1010;
}
nav.open{
    left:0;
}

#navContent{
    padding: 1em 2em;
    overflow-y: auto;
    max-height: 100%;
    overscroll-behavior: contain;
}

#navBackdrop{
    position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

nav h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 44px;
    margin-bottom: 0;
}

nav h3{
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 0;
}

nav ul{
    list-style: none;
    margin-top: 16px;
}
nav li{
    margin-bottom: 16px;
}

.toggleNav{
    position: absolute;
    top: 16px;
    left: 24px;
}

#bookshelfLink{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top:16px;
    width: fit-content;
}

summary{
    font-size: 32px;
    font-weight: 600;
}

img{
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main li{
    margin-bottom: 1em;
}